In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('Loan_Default.csv')

In [4]:
data.head(10)

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0
5,24895,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,EXP,864,EXP,35-44,not_inst,70.089286,North,direct,0,40.0
6,24896,2019,cf,Joint,pre,type1,p3,l1,nopc,nob/c,...,EXP,860,EXP,55-64,to_inst,79.109589,North,direct,0,44.0
7,24897,2019,NaN,Female,nopre,type1,p4,l1,nopc,nob/c,...,CIB,863,CIB,55-64,to_inst,86.525974,North,direct,0,42.0
8,24898,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,...,CIB,580,EXP,55-64,to_inst,78.765690,central,direct,0,44.0
9,24899,2019,cf,Sex Not Available,nopre,type3,p3,l1,nopc,nob/c,...,CIB,788,EXP,55-64,to_inst,63.444767,south,direct,0,30.0

In [5]:
data.shape

(148670, 34)

In [6]:
column_list = data.columns
for column_name in column_list:
    print(data[column_name].unique())

[ 24890  24891  24892 ... 173557 173558 173559]
[2019]
['cf' nan 'ncf']
['Sex Not Available' 'Male' 'Joint' 'Female']
['nopre' 'pre' nan]
['type1' 'type2' 'type3']
['p1' 'p4' 'p3' 'p2' nan]
['l1' 'l2']
['nopc' 'opc']
['nob/c' 'b/c']
[ 116500  206500  406500  456500  696500  706500  346500  266500  376500
  436500  136500  466500  226500   76500  356500  156500  586500  306500
  316500  336500  426500  476500  196500  186500  246500  216500  506500
  656500  256500  396500  166500  236500  866500  416500  386500  596500
  606500   86500  286500  146500  446500  636500  486500  326500   56500
  906500  496500  106500  126500  296500  176500 1376500  566500  686500
  556500  676500  366500  276500  716500   66500  616500   96500  826500
   26500  666500  546500  986500  526500 1226500  726500 1486500 1416500
  536500  796500  516500   46500  876500  576500  626500 1506500  886500
  816500  646500  776500  746500  736500  896500  836500  806500 1386500
  976500  926500  786500  766500 1176500 2006500  756500 1136500  966500
 1356500 1056500 1546500 1186500  996500 1496500  916500  936500   36500
 1456500 1146500 1276500 1046500 1156500 1326500 3006500 1366500 1006500
 1466500 1126500 1236500 3576500 1096500 1166500 1806500 1406500  846500
 1036500 1026500 1206500 1016500 2106500 1396500 1266500 1606500  946500
 1316500 1676500 1346500 1076500  956500 1116500 1716500 1086500 1216500
 1436500 1106500 2396500 1246500 1066500 1256500 1286500 2476500 1196500
  856500 1446500 1756500 1306500 1646500 1786500 1556500 1586500 1516500
 1746500 1336500 2206500 2506500 1686500 1616500 2606500 1706500 1726500
 1426500 1476500 2926500 1626500 2126500 2056500 1636500 1926500 1576500
 1776500 1906500 1296500 1936500 1896500 2406500 2706500 2086500 2146500
 2186500 1656500 1846500 1566500 1966500 1916500 3346500 1886500 1826500
 1696500 2986500 2596500 1596500 1836500 2076500   16500 1526500 2626500
 2226500 2276500 2256500 1956500]
[  nan 4.56  4.25  4.    3.99  4.5   4.125 4.875 3.49  4.375 3.625 3.175
 2.99  4.99  5.25  3.75  3.375 3.25  2.75  3.875 3.5   4.75  3.125 5.19
 4.49  2.875 5.125 4.625 3.7   5.    3.    5.375 4.18  3.69  5.5   3.65
 5.75  3.775 3.56  5.625 6.24  4.475 3.4   2.925 3.925 5.74  5.875 3.45
 4.275 2.975 3.725 2.85  3.675 3.55  3.93  2.375 3.85  3.525 2.725 2.5
 2.6   5.99  5.49  8.    3.025 3.8   2.775 3.05  3.325 6.    3.825 3.15
 3.1   4.4   3.3   4.05  6.75  4.025 3.475 2.625 3.225 3.575 4.175 3.9
 2.95  3.075 3.275 7.    3.425 5.69  5.3   3.2   3.6   2.65  3.35  7.75
 4.225 2.25  3.95  4.7   2.125 2.8   0.    4.2   3.975 4.075 2.675 7.375
 4.44  4.865 4.15  6.125 4.1   6.375 6.5   4.35  4.3   6.25  2.475 4.425
 4.525 7.5   4.55  4.95  4.82  6.875 4.325 2.575 2.9   3.74  7.125 2.7  ]
[    nan  0.2     0.681  ... -0.9199  0.7874 -0.3247]
[    nan  595.      0.   ... 3113.06 1226.64 4323.33]
[360. 300. 180. 312. 144. 240. 348. 324. 120.  96. 192. 156. 228. 336.
 288. 108. 276.  nan 132. 216. 168. 204. 264. 252. 165. 280. 322.]
['not_neg' 'neg_amm' nan]
['not_int' 'int_only']
['not_lpsm' 'lpsm']
[1.1800e+05        nan 5.0800e+05 6.5800e+05 7.5800e+05 1.0080e+06
 4.3800e+05 3.0800e+05 4.7800e+05 6.8800e+05 1.6800e+05 7.0800e+05
 2.5800e+05 2.9800e+05 1.3800e+05 3.6800e+05 5.9800e+05 7.4800e+05
 5.5800e+05 1.9800e+05 4.4800e+05 4.2800e+05 5.6800e+05 2.1800e+05
 4.6800e+05 2.2800e+05 3.1800e+05 3.3800e+05 5.3800e+05 4.0800e+05
 1.0180e+06 1.1080e+06 4.1800e+05 5.2800e+05 2.4800e+05 1.5080e+06
 6.0800e+05 6.6800e+05 8.0800e+05 9.4800e+05 1.2800e+05 2.3800e+05
 7.1800e+05 8.8800e+05 1.4800e+05 6.2800e+05 9.2800e+05 2.0800e+05
 1.1980e+06 1.8800e+05 5.8800e+05 1.3080e+06 6.7800e+05 3.5800e+05
 2.8800e+05 2.0080e+06 5.7800e+05 3.4080e+06 3.4800e+05 8.8000e+04
 4.9800e+05 8.1800e+05 7.6800e+05 3.8800e+05 6.1800e+05 8.9800e+05
 2.7800e+05 9.7800e+05 1.7080e+06 8.5800e+05 4.5800e+05 6.3800e+05
 1.2080e+06 6.4800e+05 9.0800e+05 1.1380e+06 7.9800e+05 3.7800e+05
 1.5800e+05 8.2800e+05 3.9800e+05 1.0800e+05 1.2680e+06 1.0680e+06
 7.8000e+04 4.8800e+05 1.2980e+06 5.4800e+05 7.8800e+05 5.1800e+05
 9.3800e+05 1.7800e+05 8.3800e+05 1.7580e+06 3.2800e+05 2.1280e+06
 3.8480e+06 9.9800e+05 7.3800e+05 7.7800e+05 2.3980e+06 7.2800e+05
 9.8000e+04 9.5800e+05 2.6800e+05 6.8000e+04 8.7800e+05 6.9800e+05
 2.6080e+06 1.0480e+06 9.8800e+05 8.4800e+05 8.6800e+05 1.5380e+06
 2.3080e+06 1.9480e+06 1.2580e+06 1.1280e+06 1.3380e+06 1.0280e+06
 1.2280e+06 1.0880e+06 1.1680e+06 1.4680e+06 1.1580e+06 9.1800e+05
 3.1080e+06 1.9080e+06 1.2180e+06 1.0780e+06 1.0380e+06 1.3680e+06
 1.2380e+06 2.7880e+06 1.0580e+06 1.4380e+06 1.1480e+06 1.0980e+06
 1.4880e+06 2.5980e+06 1.8080e+06 1.6580e+06 1.4180e+06 2.1080e+06
 1.3580e+06 5.8080e+06 1.6480e+06 9.6800e+05 2.8780e+06 1.4280e+06
 1.5180e+06 3.8080e+06 1.6080e+06 2.0780e+06 1.2480e+06 1.2780e+06
 3.3080e+06 1.5680e+06 1.4080e+06 2.2080e+06 1.3280e+06 1.1780e+06
 1.3780e+06 1.9980e+06 5.8000e+04 1.1180e+06 4.8000e+04 2.5080e+06
 1.5280e+06 1.2880e+06 2.0580e+06 1.4480e+06 1.5580e+06 1.5780e+06
 3.2580e+06 3.8000e+04 2.8080e+06 1.7980e+06 1.8280e+06 5.2580e+06
 1.8680e+06 1.4580e+06 1.7280e+06 2.4580e+06 1.8880e+06 5.2080e+06
 1.6280e+06 1.5480e+06 4.4380e+06 6.4080e+06 1.9580e+06 1.6780e+06
 1.5880e+06 1.3180e+06 1.1880e+06 1.7780e+06 3.5680e+06 2.2580e+06
 2.1580e+06 2.6180e+06 2.4080e+06 3.0080e+06 3.2080e+06 1.6180e+06
 2.7080e+06 1.4780e+06 6.5080e+06 3.3680e+06 3.0780e+06 1.7880e+06
 2.4780e+06 4.3580e+06 3.5580e+06 2.4880e+06 4.2080e+06 2.5580e+06
 3.5080e+06 3.6580e+06 2.4980e+06 1.6680e+06 3.0680e+06 2.6880e+06
 2.9080e+06 1.7180e+06 1.7380e+06 1.7480e+06 1.3880e+06 1.3980e+06
 1.8580e+06 1.9680e+06 2.2280e+06 1.9880e+06 1.6380e+06 2.8980e+06
 1.3480e+06 3.1280e+06 2.3580e+06 3.1980e+06 2.5880e+06 3.6880e+06
 4.0080e+06 3.0980e+06 2.2980e+06 1.8380e+06 1.6980e+06 2.4180e+06
 4.8780e+06 4.5080e+06 1.9780e+06 3.9080e+06 8.0000e+03 1.6508e+07
 1.4980e+06 5.0080e+06 4.4980e+06 2.0480e+06 2.1780e+06 1.5980e+06
 1.6880e+06 2.1980e+06 2.7580e+06 3.1580e+06 2.0380e+06 2.3280e+06
 3.8180e+06 2.8380e+06 5.3080e+06 2.6780e+06 2.7180e+06 2.0280e+06
 2.4280e+06 1.9180e+06 2.5280e+06 2.2680e+06 2.8000e+04 4.4580e+06
 2.5480e+06 2.9480e+06 2.8580e+06 1.7680e+06 1.8780e+06 4.4080e+06
 3.5780e+06 2.2180e+06 1.9280e+06 3.2980e+06 3.8580e+06 2.3380e+06
 4.7780e+06 1.8180e+06 4.6080e+06 3.2180e+06 3.2680e+06 1.8480e+06
 2.0980e+06 2.8880e+06 2.6580e+06 3.2280e+06 2.5680e+06 2.6280e+06
 4.2580e+06 1.1008e+07 6.9080e+06 3.0180e+06 2.3780e+06 1.8980e+06
 2.8180e+06 3.4880e+06 2.3180e+06 2.9680e+06 4.7580e+06 2.3880e+06
 3.7880e+06 2.1180e+06 5.5080e+06 3.0280e+06 2.2380e+06 4.1580e+06
 1.9380e+06 2.9280e+06 5.7580e+06 2.2780e+06 3.8780e+06 4.0580e+06
 2.1480e+06 4.6480e+06 2.9580e+06 2.3680e+06 3.0580e+06 3.4280e+06
 2.5380e+06 2.9380e+06 6.0580e+06 3.4580e+06 2.4680e+06 2.4380e+06
 4.2180e+06 2.1880e+06 3.2780e+06 3.3780e+06 2.0880e+06 2.8480e+06
 2.5780e+06 2.1380e+06 4.4480e+06 2.6680e+06 4.0880e+06 4.1080e+06
 3.0380e+06 6.1080e+06 4.4280e+06 2.7280e+06 8.5080e+06 3.7080e+06
 3.0880e+06 1.2008e+07 4.6580e+06 2.7780e+06 1.0008e+07 3.1680e+06
 3.6080e+06 2.5180e+06 2.0680e+06 3.7780e+06 5.0580e+06 4.5580e+06
 3.7680e+06 2.0180e+06 2.7680e+06 2.8280e+06 6.2080e+06 4.2880e+06
 7.6080e+06 2.4480e+06 3.6780e+06 3.9680e+06 9.2680e+06 2.6380e+06
 4.9080e+06 3.3280e+06 3.7280e+06 4.9180e+06 1.8000e+04 3.1780e+06
 2.3480e+06 2.6980e+06]
['sb' 'mh']
['pr' 'sr' 'ir']
['home' 'land']
['1U' '2U' '3U' '4U']
[ 1740.  4980.  9480. ... 72060. 78720. 79920.]
['EXP' 'EQUI' 'CRIF' 'CIB']
[758 552 834 587 602 864 860 863 580 788 723 501 884 520 773 685 846 534
 629 688 668 692 620 533 518 812 647 683 705 701 591 889 651 716 780 799
 766 868 765 673 876 886 772 640 798 858 543 555 603 808 519 786 769 556
 567 632 818 584 750 838 741 820 665 783 663 612 739 571 870 793 804 801
 711 634 764 865 593 511 677 774 638 644 732 586 642 872 898 734 639 506
 664 670 577 857 653 595 787 560 613 514 867 717 619 600 524 883 503 887
 604 648 797 806 845 815 585 729 538 791 671 572 755 760 578 836 900 777
 667 880 568 805 590 892 540 869 737 831 608 803 795 674 781 545 796 660
 850 851 794 866 611 621 862 829 848 775 733 700 633 702 882 686 652 844
 649 557 761 569 523 740 690 616 782 601 809 855 768 627 854 762 746 592
 703 697 710 522 789 693 597 680 575 694 581 678 714 871 800 853 718 713
 874 625 626 500 695 517 759 792 822 516 704 605 539 598 763 515 508 529
 830 551 715 802 879 743 699 617 661 896 856 861 767 656 875 778 893 785
 779 565 753 852 719 744 770 614 888 547 728 618 574 505 807 530 814 843
 635 824 559 837 847 885 630 589 654 724 527 738 811 546 537 594 658 583
 666 742 512 877 706 727 698 609 623 544 645 657 712 513 771 736 536 828
 588 730 731 646 563 525 784 725 752 756 833 561 570 899 890 720 722 526
 553 596 549 709 735 776 881 669 726 535 745 636 684 827 672 573 816 707
 607 817 873 810 679 558 624 825 708 502 659 757 599 749 894 541 675 615
 641 682 628 582 832 550 528 509 821 849 691 826 662 504 676 579 689 622
 721 835 532 751 748 610 754 878 823 562 548 631 637 606 687 564 696 819
 839 840 747 681 566 891 790 897 542 813 859 650 842 521 841 531 643 655
 507 576 510 554 895]
['CIB' 'EXP']
['25-34' '55-64' '35-44' '45-54' '65-74' '>74' '<25' nan]
['to_inst' 'not_inst' nan]
[ 98.72881356          nan  80.01968504 ... 151.8145161   41.49550706
  32.80201342]
['south' 'North' 'central' 'North-East']
['direct' 'Indriect']
[1 0]
[45. nan 46. 42. 39. 40. 44. 30. 36. 51. 20. 31.  6. 35. 34. 49. 37. 41.
 38. 56. 23. 28. 11. 27. 55. 22. 24. 52. 33. 26. 47. 60. 25. 32. 10. 15.
 53.  7. 19. 48. 59. 57.  9. 50. 21. 58. 29. 43. 17. 54. 13. 12. 16. 61.
 18. 14.  8.  5.]

In [7]:
data.dtypes

ID                             int64
year                           int64
loan_limit                    object
Gender                        object
approv_in_adv                 object
loan_type                     object
loan_purpose                  object
Credit_Worthiness             object
open_credit                   object
business_or_commercial        object
loan_amount                    int64
rate_of_interest             float64
Interest_rate_spread         float64
Upfront_charges              float64
term                         float64
Neg_ammortization             object
interest_only                 object
lump_sum_payment              object
property_value               float64
construction_type             object
occupancy_type                object
Secured_by                    object
total_units                   object
income                       float64
credit_type                   object
Credit_Score                   int64
co-applicant_credit_type      object
age                           object
submission_of_application     object
LTV                          float64
Region                        object
Security_Type                 object
Status                         int64
dtir1                        float64
dtype: object

In [8]:
obj=[]
for i in data.columns:
    if data[i].dtype=='object':
        obj.append(i)
obj

['loan_limit',
 'Gender',
 'approv_in_adv',
 'loan_type',
 'loan_purpose',
 'Credit_Worthiness',
 'open_credit',
 'business_or_commercial',
 'Neg_ammortization',
 'interest_only',
 'lump_sum_payment',
 'construction_type',
 'occupancy_type',
 'Secured_by',
 'total_units',
 'credit_type',
 'co-applicant_credit_type',
 'age',
 'submission_of_application',
 'Region',
 'Security_Type']

In [9]:
data.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [10]:
for i in range(len(obj)):
    print(obj[i],data[obj[i]].unique())

loan_limit ['cf' nan 'ncf']
Gender ['Sex Not Available' 'Male' 'Joint' 'Female']
approv_in_adv ['nopre' 'pre' nan]
loan_type ['type1' 'type2' 'type3']
loan_purpose ['p1' 'p4' 'p3' 'p2' nan]
Credit_Worthiness ['l1' 'l2']
open_credit ['nopc' 'opc']
business_or_commercial ['nob/c' 'b/c']
Neg_ammortization ['not_neg' 'neg_amm' nan]
interest_only ['not_int' 'int_only']
lump_sum_payment ['not_lpsm' 'lpsm']
construction_type ['sb' 'mh']
occupancy_type ['pr' 'sr' 'ir']
Secured_by ['home' 'land']
total_units ['1U' '2U' '3U' '4U']
credit_type ['EXP' 'EQUI' 'CRIF' 'CIB']
co-applicant_credit_type ['CIB' 'EXP']
age ['25-34' '55-64' '35-44' '45-54' '65-74' '>74' '<25' nan]
submission_of_application ['to_inst' 'not_inst' nan]
Region ['south' 'North' 'central' 'North-East']
Security_Type ['direct' 'Indriect']

In [11]:
for i in obj:
    print(i,'-',data[i].isnull().sum())

loan_limit - 3344
Gender - 0
approv_in_adv - 908
loan_type - 0
loan_purpose - 134
Credit_Worthiness - 0
open_credit - 0
business_or_commercial - 0
Neg_ammortization - 121
interest_only - 0
lump_sum_payment - 0
construction_type - 0
occupancy_type - 0
Secured_by - 0
total_units - 0
credit_type - 0
co-applicant_credit_type - 0
age - 200
submission_of_application - 200
Region - 0
Security_Type - 0

In [12]:
data['Status'].value_counts()

0    112031
1     36639
Name: Status, dtype: int64

In [13]:
for i in range(len(obj)):
    print(obj[i],data[obj[i]].unique())

loan_limit ['cf' nan 'ncf']
Gender ['Sex Not Available' 'Male' 'Joint' 'Female']
approv_in_adv ['nopre' 'pre' nan]
loan_type ['type1' 'type2' 'type3']
loan_purpose ['p1' 'p4' 'p3' 'p2' nan]
Credit_Worthiness ['l1' 'l2']
open_credit ['nopc' 'opc']
business_or_commercial ['nob/c' 'b/c']
Neg_ammortization ['not_neg' 'neg_amm' nan]
interest_only ['not_int' 'int_only']
lump_sum_payment ['not_lpsm' 'lpsm']
construction_type ['sb' 'mh']
occupancy_type ['pr' 'sr' 'ir']
Secured_by ['home' 'land']
total_units ['1U' '2U' '3U' '4U']
credit_type ['EXP' 'EQUI' 'CRIF' 'CIB']
co-applicant_credit_type ['CIB' 'EXP']
age ['25-34' '55-64' '35-44' '45-54' '65-74' '>74' '<25' nan]
submission_of_application ['to_inst' 'not_inst' nan]
Region ['south' 'North' 'central' 'North-East']
Security_Type ['direct' 'Indriect']

In [14]:
data['age'] = data['age'].replace({
    '35-44': 39.5,  # Mean age of 35-44 range
    '25-34': 29.5,  # Mean age of 25-34 range
    '55-64': 59.5,  # Mean age of 55-64 range
    '45-54': 49.5,  # Mean age of 45-54 range
    '65-74': 69.5,  # Mean age of 65-74 range
    '>74': 80,     # Assuming mean age of >74 range as 80
    '<25': 20      # Assuming mean age of <25 range as 20
})

In [15]:
data

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,29.5,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,59.5,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,39.5,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,49.5,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,29.5,not_inst,91.886544,North,direct,0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,173555,2019,cf,Sex Not Available,nopre,type1,p3,l1,nopc,nob/c,...,CIB,659,EXP,59.5,to_inst,71.792763,south,direct,0,48.0
148666,173556,2019,cf,Male,nopre,type1,p1,l1,nopc,nob/c,...,CIB,569,CIB,29.5,not_inst,74.428934,south,direct,0,15.0
148667,173557,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,CIB,702,EXP,49.5,not_inst,61.332418,North,direct,0,49.0
148668,173558,2019,cf,Female,nopre,type1,p4,l1,nopc,nob/c,...,EXP,737,EXP,59.5,to_inst,70.683453,North,direct,0,29.0
148669,173559,2019,cf,Female,nopre,type1,p3,l1,nopc,nob/c,...,CIB,830,CIB,49.5,not_inst,72.849462,North,direct,0,44.0

In [16]:
data = data.drop(['ID','year','Gender','rate_of_interest','Interest_rate_spread','property_value','Upfront_charges','LTV','dtir1'],axis=1)

In [17]:
data.isnull().sum()

loan_limit                   3344
approv_in_adv                 908
loan_type                       0
loan_purpose                  134
Credit_Worthiness               0
open_credit                     0
business_or_commercial          0
loan_amount                     0
term                           41
Neg_ammortization             121
interest_only                   0
lump_sum_payment                0
construction_type               0
occupancy_type                  0
Secured_by                      0
total_units                     0
income                       9150
credit_type                     0
Credit_Score                    0
co-applicant_credit_type        0
age                           200
submission_of_application     200
Region                          0
Security_Type                   0
Status                          0
dtype: int64

In [18]:
data=data.dropna()

In [19]:
data['Status'].value_counts()

0    100881
1     34227
Name: Status, dtype: int64

In [20]:
obj=[]
for i in data.columns:
    if data[i].dtype=='object':
        obj.append(i)
obj

['loan_limit',
 'approv_in_adv',
 'loan_type',
 'loan_purpose',
 'Credit_Worthiness',
 'open_credit',
 'business_or_commercial',
 'Neg_ammortization',
 'interest_only',
 'lump_sum_payment',
 'construction_type',
 'occupancy_type',
 'Secured_by',
 'total_units',
 'credit_type',
 'co-applicant_credit_type',
 'submission_of_application',
 'Region',
 'Security_Type']

In [21]:
data

,loan_limit,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,term,Neg_ammortization,...,total_units,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,Region,Security_Type,Status
0,cf,nopre,type1,p1,l1,nopc,nob/c,116500,360.0,not_neg,...,1U,1740.0,EXP,758,CIB,29.5,to_inst,south,direct,1
1,cf,nopre,type2,p1,l1,nopc,b/c,206500,360.0,not_neg,...,1U,4980.0,EQUI,552,EXP,59.5,to_inst,North,direct,1
2,cf,pre,type1,p1,l1,nopc,nob/c,406500,360.0,neg_amm,...,1U,9480.0,EXP,834,CIB,39.5,to_inst,south,direct,0
3,cf,nopre,type1,p4,l1,nopc,nob/c,456500,360.0,not_neg,...,1U,11880.0,EXP,587,CIB,49.5,not_inst,North,direct,0
4,cf,pre,type1,p1,l1,nopc,nob/c,696500,360.0,not_neg,...,1U,10440.0,CRIF,602,EXP,29.5,not_inst,North,direct,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148665,cf,nopre,type1,p3,l1,nopc,nob/c,436500,180.0,not_neg,...,1U,7860.0,CIB,659,EXP,59.5,to_inst,south,direct,0
148666,cf,nopre,type1,p1,l1,nopc,nob/c,586500,360.0,not_neg,...,4U,7140.0,CIB,569,CIB,29.5,not_inst,south,direct,0
148667,cf,nopre,type1,p4,l1,nopc,nob/c,446500,180.0,not_neg,...,1U,6900.0,CIB,702,EXP,49.5,not_inst,North,direct,0
148668,cf,nopre,type1,p4,l1,nopc,nob/c,196500,180.0,not_neg,...,1U,7140.0,EXP,737,EXP,59.5,to_inst,North,direct,0
148669,cf,nopre,type1,p3,l1,nopc,nob/c,406500,240.0,not_neg,...,1U,7260.0,CIB,830,CIB,49.5,not_inst,North,direct,0

In [22]:
l=[]
for i in obj:
    l.append(data.columns.get_loc(i))
l

[0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 17, 19, 21, 22, 23]

In [23]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [25]:
x_train

array([['cf', 'nopre', 'type1', ..., 'not_inst', 'North', 'direct'],
       ['cf', 'nopre', 'type2', ..., 'to_inst', 'central', 'direct'],
       ['cf', 'nopre', 'type1', ..., 'to_inst', 'south', 'direct'],
       ...,
       ['cf', 'nopre', 'type1', ..., 'to_inst', 'North', 'direct'],
       ['cf', 'nopre', 'type1', ..., 'to_inst', 'south', 'direct'],
       ['cf', 'pre', 'type3', ..., 'to_inst', 'south', 'direct']],
      dtype=object)

In [26]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),l)],remainder='passthrough')
x_train = ct.fit_transform(x_train)
x_test = ct.fit_transform(x_test)

In [27]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train, y_train)

LogisticRegression()

In [28]:
y_pred = classifier.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 1]
 ...
 [0 1]
 [0 1]
 [0 0]]

In [29]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[25179     0]
 [ 8598     0]]

0.7454480859756639

In [ ]:
y_pred = classifier.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)